---
layout: default
---
<!-- 展示文章列表和部分内容 -->
    {% for post in paginator.posts %}
    <div class="list-group list-group-flush border-bottom scrollarea">
<a href="{{ post.url }}" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">{{ post.title }} </strong>
        </div>
        <div class="col-10 mb-1 small">{{ post.excerpt }}发表于：{{ post.date | date: "%Y-%m-%d %H:%M:%S" }}</div>
      </a>
</div>
{% endfor %}
<!-- 分頁 -->
<div class="pagination">
	<ul class="paginator">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="btn btn-dark">
      上一頁
    </a>
  {% else %}
    <span class="previous">首頁</span>
  {% endif %}
  <span class="page_number ">
     {{ paginator.page }}  {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="btn btn-dark">下一頁</a>
  {% else %}
    <span class="next ">尾頁</span>
  {% endif %}
</div>

文章總數： {{ paginator.total_posts }}