---
layout: default
---
33
<!-- 展示文章列表和部分内容 -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}" class="link-dark">{{ post.title }}</a></h1>
  <p class="author">
        <p>{{ post.excerpt }}</p>
      <p>发表于：{{ post.date | date: "%Y-%m-%d %H:%M:%S" }}</p>
  </p>

{% endfor %}

<!-- 分頁 -->
<div class="pagination">
	<ul class="paginator">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      上一頁
    </a>
  {% else %}
    <span class="previous">首頁</span>
  {% endif %}
  <span class="page_number ">
     {{ paginator.page }}  {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">下一頁</a>
  {% else %}
    <span class="next ">尾頁</span>
  {% endif %}
</div>

文章總數： {{ paginator.total_posts }}