<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>賣刀人的博客</title>
  <meta name="description" content="賣刀人的博客，政治，軍事，文化，技術.">  
  <meta name="apple-mobile-web-app-title" content="賣刀人的博客">
  <meta name="keywords" content="賣刀人的博客，政治，軍事，文化，技術">
  <link rel="stylesheet" href="{{ '/assets/css/a.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.css' | relative_url }}">
  <script src="{{ '/assets/js/bootstrap.js' | relative_url }}"></script>    
  <style type="text/css">
    footer {
      background-color: #333;
      color: white;
      padding: 3px 2;
    }
  </style>
  </head>
  <body>
    <nav>
    <a href="/" class="btn btn-dark">賣刀人的博客</a>
    <a href="/about" class="btn btn-dark">關於賣刀人</a>
    </nav>
    <section>
      {{ content }}
    </section>
  <!-- 頁腳 -->
  <footer class="text-center">
    <p>&copy; {{ "now" | date: "%Y" }} {{ site.title }}</p>
  </footer>
  </body>
</html>