<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  <meta name="description" content="賣刀人的博客，政治，軍事，文化，技術.">  
  <meta name="apple-mobile-web-app-title" content="賣刀人的博客">
  <meta name="keywords" content="賣刀人的博客，政治，軍事，文化，技術">
  <link rel="stylesheet" href="{{ '/assets/css/a.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.css' | relative_url }}">
<script src="{{ '/assets/js/bootstrap.js' | relative_url }}"></script>    
  <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
  <style>
    .sidebar {
      position: fixed;
      top: 0;
      right: 0;
      width: 250px;
      height: 100%;
      overflow-y: auto;
      background-color: #f8f9fa;
      border-left: 1px solid #dee2e6;
    }
    .content {
      padding: 20px;
    }
     footer {
      background-color: #333;
      color: white;
      padding: 0.1px 0;
    }
  </style>
</head>
<body>
    <nav>
      <a href="/" class="btn btn-dark">賣刀人的博客</a>
      <a href="/about" class="btn btn-dark">關於賣刀人</a>
    </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 content">
        <article class="post">
  {%- if page.image -%}
    <div class="featuredImage">
        <img src="{{ '/assets/img/' | append: page.image | relative_url }}" alt="" />
      </div>
  {%- endif -%}
  <header>
    <h1><a href="#" class="btn btn-dark">{{ page.title }}</a></h1>
    <p class="meta">{{ page.date | date: "%Y-%m-%d %H:%M:%S" }}</p>
  </header>

  {{ content }}

  <!-- POST NAVIGATION -->
  <div class="container mt-2">
    {% if page.previous.url %}
      上一篇: <a href="{{ page.previous.url }}" class="btn btn-dark" role="button">{{ page.previous.title }}</a>
      {% endif %}
      <br>
      {% if page.next.url %}
      下一篇: <a href="{{ page.next.url }}" class="btn btn-dark" role="button">{{ page.next.title }}</a>
      {% endif %}
  </div>
</article>
     
    </div>
  </div>  
  <footer class="text-center">
    <p>&copy; {{ "now" | date: "%Y" }} {{ site.title }}</p>
  </footer>
</body>
</html>